.image {
    position: relative;
    width: 100%;
}

h2 {
    position: absolute;
    top: 35px;
    right: 20px;
    margin: auto;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

h2 span {
    letter-spacing: -1px;
    background: rgb(183, 183, 164);
    background: rgba(183, 183, 164, 0.9);
    padding: 2px;
    border-radius: 25px;
}

h2 span.spacer {
    padding: 0 5px;
}

#container {
    position: relative;
    margin: auto;
    margin-top: 5px;
}
 
#location {
    margin: 18px;
    display:inline-block;
    border: dotted #B7B7A4 1px;
    padding: 10px;
    width: 150px;
    height: 180px;
    overflow: hidden;
}
 
#location:hover .inside {
    margin-left: -170px;
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}
 
.inside {
    width: 310px;
    height: 180px;
    margin-top: 0px;
    margin-left: 0px;
    display:inline-block;
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}
 
.about1 { 
    width: 150px;
    height: 180px;
    position: relative;
    top: 0px;
    color: #B7B7A4;
}
 
.about2 {
    width: 150px;
    padding:10px;
    height: 180px;
    position: relative;
    margin-left: 160px;
    top: -190px;
    overflow-y: auto;
    overflow-x: hidden;
}
 
.pic img {
    width: 110px;
    height: 110px;
    border: 1px dotted #B7B7A4;
    padding: 4px;
    webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    margin-top: 10px;
    position: relative;
}
 
.city {
    width:135px;
    margin-top: 18px;
    text-align: center;
    color: #222222;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px;
    word-wrap: break-word;
    position: absolute;
}
 
.googlemap {
    margin-top: 10px;
    text-align: center;
    color: #222222;
    font-size: 13px;
    text-decoration: none;
    padding: 2px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
 
.googlemap a {
    color: #222222;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
 
.googlemap a:hover {
    background-color: #222222;
    color:#fff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
 
.googlemap a:hover{
    color:#fff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
 
.address {
    padding-top: 0px;
    text-align: center;
    width: 150px;
    color: #222222;
    letter-spacing: -1px;
}
 
#description {
    padding-top: 11px;
    text-align: center;
    width: 150px;
    color: #222222;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 10px;
    overflow: auto;
    line-height: 160%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap:break-word;
}
