


body {
            text-align: center; 
            font-family: 'Josefin Sans', sans-serif;
            margin-top: -50px;
            margin-bottom: 0px;
            background-color: #FFFFFF;
        }
        
        #header {
            margin-bottom: -50px;
   }

        
        .navigation{
            font-family: didot;
            text-align: center;
            padding: 10px;
            font-size: 150%;
            background-color: #B7B7A4;
            margin-left: -10px;
            margin-right: -10px;
            font-weight: 700;
}

        .navigation a{
            text-decoration:none;
        }

        .main-nav>li{
            display: inline-block;
            padding: 10px 0px;
            width: 150px;
            color: white;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            src: "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Playfair+Display&display=swap";

        }

        .subnav {
            display: none;
            width: 200px;
            list-style-type: none;
            position: absolute;
            border: 5px solid #A5A58D;
            margin-top: 10px;
            margin-left: 0px;
            text-align: left;
            font-family: 'Josefin Sans', sans-serif;
            src: "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Playfair+Display&display=swap";
  
        }

        .subnav:before{
            content: "";
            width: 0px;
            height:0px;
            position: absolute; 

        }

        .subnav>li{
            padding: 10px;
            color: white;
            margin-left: -40px;
            background: #B7B7A4;
            font-size: 20px;
        }

        .subnav a{
            color: white;
        }

        .main-nav li:hover .subnav{
            display: block;
        }

        .main-nav li:hover, .subnav li:hover {
            background: #A5A58D;
    }
    


/****************************************************/

        #main {
            background-color: #FFFFFF;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom:10px;
            padding: 20px;
            color: #727A7A;
            min-height: 100px;
            overflow: hidden;
        }
        
        
        #footer {
            background-color: #C2C2C2;
            height: 60px;
            margin-top: 10px;
            margin-right: -10px;
            margin-left: -10px;
            padding: 20px;
            text-align: center;
            font-size: 90%;
        }
        
        .footer a:visited {
            text-decoration: none;
        }
        
        h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-size:40px;
            letter-spacing: 10px;
            text-shadow:2px 2px 2px #B7B7A4;
            text-align: center;
            position: relative;
            color: #000000;
        }

        h2 {
            font-family: 'Josefin Sans', sans-serif;
            font-size:18px;
            text-align: center;
            position: relative;
        }

    

        form {
            display:inline-block;
            text-align: left;
        }


        .form input[type=text]{
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #727A7A;
            background-color:#3d3b3c;
            color: darkgray;
            font-family: times;
            height: 20px;
            width: 350px;
    
    
        }

        .form input[type=submit]{
            height:35px;
            width: 100px;
            background-color: #727A7A;
            font-size: 15px;
            font-family: times;
            width: 350px;
        }   

        .form textarea[type=message]{
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #727A7A;
            background-color:#3d3b3c;
            color: darkgray;
            font-family: times;
            height: 20px;
            width: 350px;
        }

        .form p{
            text-align:left;
            margin-left: 632px;
        }   
